<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFly"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi,LockedOrientationActivity,UnusedAttribute">
        <activity
            android:name=".page.guide.FirstLoadingActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".page.MainActivity"
            android:configChanges="screenSize|orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.web.WebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.base.FilePermissionAskActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.CompleteActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.read.DocReadActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.read.PDFReadActivity"
            android:configChanges="screenSize|orientation|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.guide.LanguageActivity"
            android:configChanges="screenSize|orientation|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.guide.UserGuideActivity"
            android:configChanges="screenSize|orientation|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.guide.UninstallStep1Activity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name=".page.guide.UninstallStep2Activity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTop" />

        <service
            android:name=".notice.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notice.service.FrontNoticeService"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".notice.service.FrontJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".notice.receiver.AlarmTaskReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <receiver
            android:name=".notice.receiver.FrontReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.hardware.usb.action.USB_STATE" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.pdfly.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_token" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

    </application>

</manifest>